@use "@angular/material" as mat;
@use "./theme" as app-theme;
@use "./variables" as *;

@include mat.core();

/* FONTS */
/* Inter */
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

html {
  @include mat.all-component-themes(app-theme.$theme);
}

body {
  margin: 0;
  background: $color-background;
  color: $color-text;
  font-family: "Inter", sans-serif;
}
